<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Year Machine</title>
  </head>
  <body>
    <p>The current year is <%= Time.now.year %>.</p>
<form action="/story">
  Animal Image URL
  <input name="picture"><br>
  Animal
  <input name="animal"><br>
  Adjective
  <input name="adjective"><br>
  Body Part
  <input name="body_part"><br>
  Verb
  <input name="verb"><br>
  Place
  <input name="place"><br>
  Holiday
  <input name="holiday"><br>
  <button type="submit">Generate Madlib</button>
</form>
  </body>
</html>
